:root {
    --background-color: darkslateblue;
    --background-color2: lightsteelblue;
    --text-color: white;
    --text-color2: black;
    --background-color3: gainsboro;
}

@media (prefers-color-scheme: dark) { /* Ce media permet de détecter si l'utilisateur du site est en mode sombre ou non, s'il est en mode sombre, les variables de couleurs changeront avvec celles qui sont définies ci-dessous */
    :root {
        --background-color: #1F1F1F; /* Définition de variables pour le mode sombre, ici de la couleur de fond de la page */
        --background-color2: #2F2F2F; /* Couleur de fond des encadrés */
        --text-color: #d4edda; /* Couleur du texte */
        --text-color2: #121212;
        --background-color3: #313338;
    }
}

header {
    background-color: var(--background-color);
    height: 80px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

header img {
    width: 4%;
    position: absolute;
    margin-right: left; 
    left:0%;
    top:1%;
}

header h1 {
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}

header a {
    color: var(--blanc);
    font-size: 18px;
    text-decoration: none;
    margin-left: auto; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    background-color: var(--background-color2);
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav h1 {
    font-size: 22px;
    color: var(--background-color);
    margin-right: 20px;
}

nav ol {
    list-style: none;
    display: flex;
    gap: 100px;
}

nav ol li {
    margin: 0;
}

nav ol li a {
    color: var(--text-color2);
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ol li a:hover {
    text-decoration: underline;
}
