:root{
    --background-color4: darkslateblue;
    --background-color5: lightsteelblue;
    --text-color4: white;
    --text-color5: black;
    --background-color6: gainsboro;
}

@media (prefers-color-scheme: dark) { /* Ce media permet de détecter si l'utilisateur du site est en mode sombre ou non, s'il est en mode sombre, les variables de couleurs changeront avvec celles qui sont définies ci-dessous */
    :root {
        --background-color4: #d4edda; /* Définition de variables pour le mode sombre, ici de la couleur de fond de la page */
        --background-color5: #2F2F2F; /* Couleur de fond des encadrés */
        --text-color4: #313338; /* Couleur du texte */
        --text-color5: #B4B4B4;
        --background-color6: #313338;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color6);
    color: var(--text-color5);
}
main {
    background-color: var(--text-color4) !important;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main h1 {
    font-size: 32px;
    color: var(--background-color4);
    text-align: center;
    margin-bottom: 20px;
}

main h2, main h3 {
    color: var(--background-color4);
    margin-bottom: 10px;
}

main p {
    text-align: justify;
    margin-bottom: 15px;
}

