:root{
    --background-color5: darkslateblue;
    --background-color9: gainsboro;
    --text-color5: white;
    --text-color6: black;
}

@media (prefers-color-scheme: dark) { /* Ce media permet de détecter si l'utilisateur du site est en mode sombre ou non, s'il est en mode sombre, les variables de couleurs changeront avvec celles qui sont définies ci-dessous */
    :root {
        --background-color5: #d4edda;
        --background-color9: #686868;
        --text-color5: #313338;
        --text-color6: #B4B4B4;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color9);
    color: var(--text-color6);
}
main {
    background-color: var(--text-color5) !important;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main h1 {
    font-size: 32px;
    color: var(--background-color5);
    text-align: center;
    margin-bottom: 20px;
}

main h2, main h3 {
    color: var(--background-color5);
    margin-bottom: 10px;
}

main p {
    text-align: justify;
    margin-bottom: 15px;
}

