:root{
    --background-color: darkslateblue;
    --background-color2: lightsteelblue;
    --text-color: white;
    --text-color2: black;
    --background-color3: gainsboro;
}

@media (prefers-color-scheme: dark) { /* Ce media permet de détecter si l'utilisateur du site est en mode sombre ou non, s'il est en mode sombre, les variables de couleurs changeront avvec celles qui sont définies ci-dessous */
    :root {
        --background-color: #1F1F1F; /* Définition de variables pour le mode sombre, ici de la couleur de fond de la page */
        --background-color2: #2F2F2F; /* Couleur de fond des encadrés */
        --text-color: #d4edda; /* Couleur du texte */
        --text-color2: #121212;
        --background-color3: #313338;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color3);
    color: var(--text-color2);
    line-height: 1.6;
}

main {
    background-color: var(--background-color3);
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

main h1 {
    font-size: 32px;
    color: var(--background-color);
    text-align: center;
    margin-bottom: 20px;
}

main h2, main h3 {
    color: var(--background-color);
    margin-bottom: 15px;
    font-size: 24px;
}

main p {
    text-align: justify;
    margin-bottom: 20px;
}

main ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

main ul li {
    font-size: 18px;
    color: var(--background-color);
}
a{
    text-decoration: none;
    color: grey;
}

@media (max-width: 768px) {
    main {
        margin: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}
