:root {
    --background-color: darkslateblue;
    --background-color2: lightsteelblue;
    --text-color: white;
    --text-color2: black;
    --background-color3: gainsboro;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1F1F1F;
        --background-color2: #2F2F2F;
        --text-color: #d4edda;
        --text-color2: #B4B4B4;
        --background-color3: #313338;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color3);
    color: var(--text-color2);
    line-height: 1.6;
    text-align: center;
}
img{
    max-width: 480px;
    max-height: 480px;
}

main h1 {
    font-size: 32px;
    color: var(--background-color);
    text-align: center;
    margin-bottom: 20px;
}

main h2, main h3 {
    color: var(--background-color);
    margin-bottom: 15px;
    font-size: 24px;
}

main section article p {
    text-align: justify;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: grey;
    font-size: 18px;
}

@media (max-width: 768px) {
    main {
        margin: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

.container{
    background-color: var(--background-color3);
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article1 , .article2, .article3, .article4 , .article5, .article6, .article7 , .article8, .article9, .article10 , .article11{
    width: 500px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.boite{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.article1:hover img,
.article2:hover img,
.article3:hover img,
.article4:hover img,
.article5:hover img,
.article6:hover img,
.article7:hover img,
.article8:hover img,
.article9:hover img,
.article10:hover img,
.article11:hover img {
    transform: scale(1.05);
}

.article1:hover,
.article2:hover,
.article3:hover,
.article4:hover,
.article5:hover,
.article6:hover,
.article7:hover,
.article8:hover,
.article9:hover,
.article10:hover,
.article11:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}