/* Politique de confidentialité - Styles principaux */

:root{
    --background-color6: #f4f4f9;
    --text-color7: #333;
    --link-color: #3498db;
    --title-color: #2c3e50;
}

@media (prefers-color-scheme: dark) { /* Ce media permet de détecter si l'utilisateur du site est en mode sombre ou non, s'il est en mode sombre, les variables de couleurs changeront avvec celles qui sont définies ci-dessous */
    :root {
        --background-color6: #313338;
        --text-color7: #f4f4f9;
        --link-color: grey;
        --title-color: #B4B4B4;
    }
}

/* Le corps de la page */
body {
    font-family: Arial, sans-serif; /* Utilisation de la police Arial, sans-serif en cas de problème avec Arial */
    line-height: 1.6; /* Espacement des lignes pour une meilleure lisibilité */
    background-color: var(--background-color6); /* Couleur de fond douce et claire pour le site */
    color: var(--text-color7); /* Couleur de texte sombre pour un bon contraste avec le fond */
}
main{
    width: 85%;
    margin: auto;
}


/* Style pour le titre principal */
.titre {
    font-size: 2rem; /* Taille de police relativement grande pour les titres */
    font-weight: bold; /* Mise en gras du titre */
    text-align: center; /* Centrage du titre */
    margin: 20px 0; /* Marges verticales autour du titre */
    color: var(--title-color); /* Couleur sombre et professionnelle pour le titre */
}


/* Style pour les textes principaux */
.texte {
    margin: 10px 20px; /* Espacement autour du texte */
    font-size: 1rem; /* Taille de police normale pour le texte */
    color: var(--title-color); /* Couleur sombre pour une bonne lisibilité */
}

.lien {
    color: var(--link-color); /* Couleur bleue pour les liens */
    text-decoration: none; /* Suppression du soulignement par défaut */
    font-weight: bold; /* Mise en gras des liens pour les rendre plus visibles */
}

.lien:hover {
    color: #1abc9c; /* Changement de couleur au survol */
    text-decoration: underline; /* Soulignement au survol */
}

ol {
    margin: 20px 40px; /* Espacement autour de la liste */
    padding: 0; /* Suppression du padding */
    list-style: decimal inside; /* Utilisation de chiffres pour les listes, avec une indentation */
}


ol li {
    margin-bottom: 10px; /* Espacement entre les éléments de la liste */
}


p {
    margin: 10px 20px; /* Marges autour des paragraphes */
    font-size: 1rem; /* Taille de police standard pour les paragraphes */
}


/* Media Query pour les écrans de moins de 768px de large (téléphones et petits écrans) */
@media (max-width: 768px) {
    .titre {
        font-size: 1.5rem; /* Réduction de la taille du titre pour les petits écrans */
    }


    .texte {
        font-size: 0.9rem; /* Réduction de la taille de texte pour améliorer la lisibilité sur petits écrans */
    }


    ol {
        margin: 10px 20px; /* Réduction des marges de la liste pour mieux s'adapter à l'écran */
    }
}